/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//=========== my code below =================
html{
	font-size: 62.5%;
}

body{
	width:100%;
	margin: 0 0;
	font-size: 16px; //fall back to older browser
	font-size: 1.6rem;

	line-height: 1.3;
	color: $textColor;
	background-color: $backgroundColor;
	@include bodyType;



}

a { text-decoration: none;
	color: $white;
	}
a:hover{
	color: $red;
}

h1{
	font-size: 36px;
	font-size: 3.6em;
}

h2{
	font-size: 24px;
	font-size: 2.4em;
}
h3{
	@include latoLight;
	font-size: 18px;
	font-size: 1.8em;
}

.bg{
	background: url("../images/girlblue.png");
	height:551px;

	background-repeat: no-repeat;
	-webkit-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98);
	-webkit-transition-delay: 100ms;
	-moz-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	-o-transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	transition: opacity 800ms cubic-bezier(0.51, 0.01, 0.37, 0.98) 100ms;
	width: 100%;
	max-width:100%;
	background-size: cover;

}

header{
	color: $white;
}

header[role=banner]{
	position: relative;
}

.topGrayNav{
	height: 5rem;
	width: 100%;
	background-color: rgba(76, 117, 138, 0.7);
	position: fixed;
	top:0;
	z-index:9999;
	box-shadow: 0px 3px 5px 1px #888888;

}

.logo{	
	font-size: 20px;
	font-size:	2.0rem;		
	@include latoRegular;	
	margin-left:1rem;
	vertical-align: top;
}

#signIn{
	float: right;
    padding-top: 1.5rem;
	margin-right: 2rem;
	display: inline-block;

	span{
		margin-top: 2rem;
	}

	a{
		font-size: 1.8rem;
		margin-bottom: 1rem;
		vertical-align: top;
	}
}



#search-form{
	float: right;
	padding: 1rem;
	padding-top: 0.8rem;
	margin-right: 2rem;
}

#bpl{
	display: inline-block;
	padding: 1rem;

	.icon-menu{
		display: none;
	}

}


input[type="text"]{
	color: $white;
	font-size:1.6rem;
	@include latoLight;
	background-color: $search;
	border-color: transparent;
	box-shadow: none;
	height: 35px;
	height:3.5rem;
	
	margin-right:0;
}

form #searchBg{
	background-color: $red;
	height: 3.5rem;
	width:3.5rem;
	margin-left: 0;
	padding: 0.8rem;
	float: right;
}

#hlBg{
		background-color: rgba(33, 198, 221,0.5);
		position: absolute;
	  	left: 0;
	  	top: 20rem;
	  	padding-left: 3rem;
	  	padding-right: 3rem;
	  	padding-top: 3.3rem;
	  	height: 17rem;
	}
.smilyFace{
	float:left;
	padding-top: 1rem;
	padding-right: 1rem;
}
.htext{
	float: left;
}

.todayHighlights{		
		color: $white;		
	  	@include highLightText;
	  	text-align: left;
	  	letter-spacing: 0.1214em;	  	
	  	line-height: 1.5;	  	
	}

#nav1{
	// position: absolute;
	// left:0;
	// bottom:0;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: 100%;
	height: 5rem;
	background-color: $red;


	ul
	{
		list-style-type:none;
		margin:0;
		padding:0;
		width: 100%;
		text-align: center;
		display:table;
   		 overflow: hidden;
	}

	ul li{
		//display: inline;
		float:left;
		
		width: 16.6%;
		margin-left: auto;
		margin-right: auto;
	}
	a{
		display:block;
		width:100%;	
		font-size: 1.5rem;
		height: 5rem;
		@include nav1Text;
		color: $white;
		padding: 1em;
		
	}

	a:hover{
		color:$navtext;
		border-bottom: thick solid $lightRed;;
	}
}
#nav2{
	 margin-top: 4rem;
	// margin-right: auto;
	// margin-left: auto;
	// clear: both;
	text-align: center;
	//width: 100%;

	.icon-car, .icon-trophy, .icon-book-alt2{
		font-size: 3rem;
	}
	
	ul
	{
		list-style-type:none;
		text-align: center;
		margin:0;
		padding:0;
		// width: 100%;
		// display:table;
  //  		overflow: hidden;
  //  		position: relative;
  //  		left: 30%;
	}

	ul li{
		display: inline-block;
		//float:left;
		height: 13rem;
		width: 13rem;
		margin-right: 0.5rem;
		// background-color: $darkTeal;
		// color: $navtext;
	}
	a{
		display:block;
		width:100%;		
		height: 100%;
		font-size: 1.5rem;		
		@include nav1Text;
		
		padding: 5rem 1rem;		

		span{
			display: block;
		}
	}	
}

li.current1{
		background-color: $darkTeal;
		color: $white;
	}

li.current2{
		background-color: $blue;
		color: $white;
	}

li.current3{
		background-color: $lightTeal;
		color: $white;
	}

li.noncurrent{
	background-color: #e3e3e3;
	color: #777;		
}

li.noncurrent a.events-button{
	border-bottom:thick solid $blue;
}

li.noncurrent a.service-button{
	border-bottom:thick solid $lightTeal;
}
li.noncurrent a.hours-locations-button{
	border-bottom:thick solid $darkTeal;
}

.container2{
	clear: both;
	color: $white;
	line-height: 1.5;


	#hourLocSec, #servicesSec, #eventsSec{
		margin: 5rem 10%;
	}

	h2{
		@include h2Text;
		margin-left: 0.5rem;	
		padding-top: 0.7rem;
		float: left;
		vertical-align: top;	
	}

	h3{
		@include h3Text;
		margin-left: 0rem;	
		padding-top: 0.7rem;
		padding-bottom: 0.7rem;
		padding-left: 4rem;
		padding-right: 5rem;
		//float: left;
		vertical-align: top;	
		background-color: $blue;
		text-align: center;
		width: 100%;
	}

	.titleBar{
		clear: both;
		background-color: $lightTeal;
		width: 100%;
		height: 5rem;
		margin-bottom: 1rem;

		.icon-car, .icon-trophy, .icon-book-alt2{
			vertical-align: bottom;
			
			float:left;
			font-size: 3rem;
			padding-top: 1.5rem;
	
			padding-left: 2rem;
		}
	}

	.learnMore
	{
		display: inline;
		@include learnText;
		float: right;
		background-color: $darkTeal;
		border-radius: 10px;
		padding: 0.4rem;
		padding-left:1rem;
		padding-right: 1rem;
		margin-top: 1rem;
		margin-right: 1.3rem;
	}

	.col1, .col2{
		
		width: 50%;
		float: left;
		padding-left:5rem;

		&:last-child{
			padding-bottom:10rem;
			border-bottom-style: none;
		}

		.infoBlock
		{
			border-bottom: thin solid $lightGray;
			padding-top: 0.7rem;
			padding-bottom: 0.7rem;

			& h4{
				@include h4Text;
				color: $libname;
			}

			& p.primaryDetail{
				@include blueText;
				color: $blue;
			}

			& p.secondaryDetail{
				@include timeText;
				color: $black;
			}

			a{
				color: $blue;
			}			
		}
	}	
}



#servicesSec{
	.infoBlock{
		padding-left:5rem;
	}
	a{
		color: $black;
	}
}


footer{
	clear: both;
	background-color: $footer;
	width:100%;
	height:10rem;
	@include footerfont;
	color: $lightGray;
	ul
	{
		list-style-type:none;
		text-align: center;
		
	}

	ul li{
		display: inline-block;
		//float:left;
	}

	a{
		display:block;		
		padding: 2rem 1rem;	
	}

	p{
		clear: both;
		text-align: center;
	}
		
}

.offmenu{
	position: absolute;
	top: 10em;
	left: -100em;
}

@media screen and (max-width: 684px){
	#nav1{
		li{
			padding-top:1rem;
			padding-bottom:0rem;
			margin-bottom:0rem;
		}

		li a {
			font-size: 1.3rem;
			padding:0.5rem;
			padding-bottom:0rem;
			margin-bottom:0rem; // need to fix this, bar still have distances
		}
	}
}

@media screen and (max-width: 563px){
	#hlBg{
		position: static;
		width:100%;
		height:10rem;
	}

	.todayHighlights{
			font-size: 1.5rem;
		}

	.bg{
		display: none;
	}

	.topGrayNav{
		position: static;
	}

	#search-form{
		clear: both;
		position: static;
		width:100%;
		padding-right: 0rem;
		margin-right: 0;

	}

	input[type="text"]
	{
		margin-left: 1rem;
		width:85%;
		float:left;
	}
	form #searchBg { 
		float:left;}
}

//should be 375px, but set to 450 for demo purpose
@media screen and (max-width: 450px){
	#nav1, .icon-books{
		display: none;
	}

	.icon-menu{
		display: block !important;
		float:left;
		margin-top: 0.5rem;
		font-size: 2rem;
		color: $red;
	}
	.logo{
		font-size: 1.7rem;
		display: inline;
		float: left;
		vertical-align: center;
		margin-top: 0.5rem;
	}

	#nav2{
		margin-top: 0;
	}

	#nav2 ul li{
		display: block;
		height: 6rem;
		width:100%;
		margin-right: 0;
	}

	#nav2 a {
		padding:0;
		text-align: center;
		padding-top: 1rem;
	}

	#nav2 a span {
		display: inline;		
		}
	#nav2 .icon-car, #nav2 .icon-trophy, #nav2 .icon-book-alt2 {
		margin-right: 1rem;
		padding-top: 1rem;
		}
	.container2 .learnMore{ display: none};

	.container2 #hourLocSec, .container2 #servicesSec, .container2 #eventsSec {
		margin: 1rem 0;
		}

	.container2 .col1, .container2 .col2 {
	width: 50%;
	float: left;
	padding-left: 0.5rem;
	}

	.onmenu{
		position: fixed;
		width: 90%;
		top: 2em;
		left: 0;
		z-index: 1337;
		background-color: rgba(33, 198, 221, 0.9);
		color: $white;

		-webkit-transition: all 0.35s ease-in-out;
		-moz-transition: all 0.35s ease-in-out;
		-o-transition: all 0.35s ease-in-out;
		transition: all 0.35s ease-in-out;
		font-size: 1.8rem;

		a{
			display:block;
			color: inherit;
			width: 75%;
			//float: left;
			height: 6rem;
			line-height: 1.85rem;
			max-height: 25%;
			text-align: center;
			border: none;
			border-right: 0.15em solid rgba(255, 255, 255, 0.4);
			padding-top: 1em;
			padding-left: 0.5em;
			padding-right: 0.5em;

			text-align: top;
			@include latoLight;
			font-size: 1.6rem;
		}

		a:hover{
			color: $white;
			text-shadow: 0 0 0.025em rgba(200,200,200,0.1);
			background: rgba(221,160,221, 0.6);
		}

		a:active {
			text-decoration: none;
			color: rgba(255, 255, 255, 0.9);

			border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);
			padding-bottom: .15em;
			-webkit-transition: all 0.3s ease-in-out;
			-moz-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		

		div:nth-child(1) a 
		{
			border-bottom: 0.15em solid rgba(255, 255, 255, 0.4);
		}

	}

}












	





















































