
$textColor: #4d5453;
$white: #ffffff;
$black: #000;

$backgroundColor: #def3ef;

$slateGray: #4c758a;
$lightTeal: #00c2d6;
$red: #ff5300;
$lightRed: #ff906e;
$blue: #005c9b;
$searchColor: #b5c6ce;
$darkTeal: #009eb0;
$footer: #636363;
$search: #b4c5ce;
$navtext: #fffce5;
$lightGray: #e3e3e3;
$libname: #4f5453;

$bestBlue: #00caff;  //rgba 0 202 255