
$textColor: #4d5453;
$white: #ffffff;

$backgroundColor: #def3ef;

$slateGray: #4c758a;
$lightTeal: #00c2d6;
$red: #ff5300;
$lightRed: #ff906e;
$blue: #005c9b;
$searchColor: #b5c6ce;
$darkTeal: #009eb0;
$footer: #636363;
$search: #b4c5ce;